<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto mt-4">
    {{> searchForm }}
        {{#each posts }}
        <div class="post-preview mt-4">
            <a href="/post/details/{{this._id}}">
                <h2 class="post-title">{{ this.title }}</h2>
                <h3 class="post-subtitle">{{ this.subtitle }}</h3>
            </a>
            <span>Публикувано на: {{ this.createdOn }}</span>
            <span>Автор: {{ this.author.username }}</span>
        </div>
        {{else}}
        <h2 class="text-center">Няма намерени статии!</h2>
        {{/each}}
    </div>
</div>