<div class="row">
    {{#each apps }}
    <div class="card col-lg-4 col-xl-4 col-md-6">
        <a href="/projects/apps/details/{{this._id}}">
            <img src="{{this.cover}}" class="card-img-top" alt="">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text">{{ this.subtitle }}</p>
            <a href="/projects/apps/details/{{this._id}}" class="btn btn-primary">Виж</a>
        </div>
    </div>
    {{else}}
    <h4 class="mx-auto my-4">Няма проекти</h4>
    {{/each}}
</div>