<div class="mb-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="py-4">{{ app.title }}</h1>
            <span class="mr-4">Публикувано на: {{ app.createdOn }}</span>
            {{{ app.content }}}
            <div class="row">
                {{#each app.images }}
                <img class="w-100 mt-2 rounded col-lg-4 col-xl-4 col-md-6" src="{{this}}" alt="">
                {{/each}}
            </div>
            {{#is role 'admin' }}
            <button onclick="deleteApp(event)" class="btn btn-danger">Изтрии</button>
            {{/is}}
        </div>
    </div>
</div>

<input type="hidden" id="id" value="{{app._id}}">

<script>
    function deleteApp(event) {
        if (window.confirm('Сигурен ли си, че искаш да изтриеш проекта?')) {
            const id = document.getElementById('id').value;
            fetch('/projects/apps/delete/' + id + '?_method=DELETE', {
                method: 'POST'
            })
                .then(() => {
                    window.location.pathname = '/';
                });
        }
    }
</script>